#imgPerfil {
  width: 45px;
  height: 45px;
}
#sidebar {
  height: 100%;
  min-height: 100vh;
  min-width: 12rem;
  background-color: rgba(131, 46, 69, 0.75);
  border: 2px solid black;
  /*opacity: 90%;*/
}
.button{
  min-width: 8rem;
  background-color: #F48FB1;
  border: 5px solid #7E57C2;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.button:hover{
  background-color: #CE93D8;
  border: 5px solid #29B6F6;
  box-shadow: 0 12px 30px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  /*content: '֍';*/
  /*content: '➤';*/
  content: '⫸';
  /*content: '(𐌱C)';*/
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 20px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:active {
  background-color: #c94882;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttons{
  background-color: rgba(46, 111, 131, 0.79);
  border: 5px solid #EC407A;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.buttons:hover{
  background-color: #986ec5;
  border: 5px solid #5792c2;
  box-shadow: 0 12px 30px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttons:active {
  background-color: #c94882;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}